.App {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  .shopList {
    .shopLogo {
      padding: 5px;
      width: 20%;
      height: 20%;
      border-radius: 50%;
    }
    .couponList {
        display: flex;
        flex-direction: column;
        align-items: center;
      .coupon {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        padding: 10px 5px;
        border: 1px dashed #666666;
        border-radius: 5px;
        .couponImg{
          width: 110px;
        }
        .couponText {
          font-size: 11px;
          text-align: left;
          margin-left: 10px;
        }
      }
    }
  }
}
